.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0px 20px;
  min-height: 100vh;
  min-height: calc(100vh - 60px);

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0px 32px;
    min-height: calc(100vh - 80px);
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0px 18px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  display: none;
}

.background {
  @extend .container;
  position: relative;
  //width: 100vw;
  //height: 100vh;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 150px;
  background-size: contain;
  background-image: url("../../assets/svg/404mobile.svg");

  @media screen and (min-width: 768px) {
    background-position-y: 150px;
    background-image: url("../../assets/svg/404tablet.svg");
  }

  @media screen and (min-width: 1280px) {
    background-image: url("../../assets/svg/404desktop.svg");
    background-position-y: top;
    background-size: auto;
  }
}

.errorContainer {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 2px;

  text-align: center;

  @media screen and (min-width: 1280px) {
    top: 220px;
    left: 46.5%;
    transform: translate(-50%, -50%);
  }
}
.errorTitle {
  margin-top: -5px;
}

.errorText {
  @media screen and (min-width: 768px) {
    white-space: nowrap;
  }
}

.backHomeLink {
  display: inline-block;
  padding: 5px 1ad0px;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;

  border-radius: 19px;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  outline: transparent;
  color: #4a56e2;
}

.backHomeLink:focus,
.backHomeLink:hover {
  background-color: #5561e2;
  color: var(--btn-color);
}
==================
fjklhdshjksdfkjhksdfjgitasd