.NavLink {
  display: inline-flex;
  padding: 15px;
  border-bottom: 2px solid transparent;
  font-size: 22px;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  &.active {
    border-bottom-color: rgb(255, 255, 255);
    color: rgb(250, 250, 250);
  }

  .active {
    border-bottom-color: rgb(255, 255, 255);
    color: rgb(250, 250, 250);
  }
}
